@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      #1e293b,
      #111
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .content {

    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #fff;

    h2{
      font-size: 2rem;
      font-weight: bold;
    }

    h3{
      font-size: 1.5rem;
      font-weight: bold;
    }

    h4, h5, h6{
      font-size: 1.25rem;
      font-weight: bold;
    }

    ul{
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style: disc;
    }
    a{
      color: #2563eb;
    }
    a:hover{
      text-decoration: underline;
    }

  }
  /* ... */
}
